$breakpoint-base: 0;
/* 0px */
$breakpoint-sm: 30em;
/* 480px */
$breakpoint-md: 48em;
/* 768px */
$breakpoint-lg: 62em;
/* 992px */
$breakpoint-xl: 80em;
/* 1280px */
$breakpoint-2xl: 96em;
/* 1536px */