.header {
  @apply shadow-none;
  @apply transition duration-300 ease-in;
  position: fixed;
  z-index: 30;
  width: 100%;
  top: 0;
  left: 0;

  .header-content {
    @apply flex items-center;

    nav {
      @apply transition duration-300 ease-in;
      @apply flex items-center;
      padding: 8px;
      height: auto;
      .scrollactive-nav {
        ul {
          li {
            margin: 0 8px 0 8px;
            list-style: none;
            position: relative;
            transition: background-color .3s;
            float: left;

            a {
              border-radius: 0;
              font-size: 18px;
              font-weight: var(--font-medium);
              background: 0 0 !important;
              position: relative;
              padding: 6px 4px;
              margin: 0 8px 0 8px;
              min-width: 0;
              text-transform: capitalize;

              span {
                color: rgba(0, 0, 0, .87);

              }
            }
          }
        }
      }

      &.nav-auth {
        position: relative;
        @apply flex-1 justify-end;
      }
    }
  }

}
