$primary-color: #00BCD4;
$primary-light-color: #B2EBF2;
$primary-dark-color: #00838F;
$text-primary-color: rgba(0, 0, 0, 0.87);
$text-secondary-color: rgba(0, 0, 0, 0.54);
$white-color: #ffffff;
